@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic,900italic,900);
body {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-color: none;
}
.contMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.contMenu h1.mainTitle {
    margin: 0;
}
.contMenu h1.mainTitle a {
    text-decoration: none;
    background-color: none;
    margin: 0;
    color: white;
    text-transform: uppercase;
    padding: 26px 25px;
    font-weight: 200;
    font-size: 21px;
    display: block;
}
.contMenu h1.mainTitle a span {
    font-weight: 600;
}
.logo {
    margin-left: 20px;
}
.logo img {
    max-height: 90px;
}
a.phone {
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	transition: all .5s ease;
	border: solid;
	margin-left: 20px;
}
a.phone:hover {
    color: #a9a9a9;
    background: white;
}
a.phone i {
    padding-right: 10px;
}
@media (max-width: 767px) {
    .contMenu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contMenu h1.mainTitle {
        font-size: 1.7em;
    }
    .contMenu h1.mainTitle {
        width: 100%;
    }
    .menuFirst {
       text-align: center;
       padding-left: 0;
       padding-right: 0;
    }
    a.phone {
        margin-left: 0;
    }
    .logo {
        margin-left: 0;
    }
    .contMenu h1.mainTitle {
        order: 2;
    }
    .logo img {
        max-height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #D13033;
}
.container>.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
.navbar {
    min-height: initial;
}
.titulo_pro{
	margin: 1rem;
  padding: 1rem;
  text-align: center;
  margin-bottom:50px;
	}
.navbar-default {
	
	/* border-color: #e7e7e7; */
	background-color: #FF9B17;
	border: 0;
	margin-bottom: 0;
	padding-bottom:10px;
}
ul.menuSec {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    margin-bottom: 0;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.menuSec li {
    list-style: none;
    width: 100%;
    text-align: center;
}
ul.menuSec li a {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    background-color: none;
    padding: 7px;
    display: block;
    transition: all .5s ease;
}
ul.menuSec li:first-child {
    border-right: 1px #4f4f4f solid;
}
ul.menuSec li:last-child {
    border-left: 1px #4f4f4f solid;
}
ul.menuSec li a:hover {
    background-color: orange;
}
.navbar-default .navbar-toggle {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
	padding-bottom:20px;
	padding-top:50px;
	
}
.prosec {
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 100;
}
@media (min-width: 768px) {
    .prosec {
        display: none;
    }
}
/*SLIDE*/
@media (min-width: 992px) {
    .mapaSede {
        padding-right: 16px;
    }
}
.slide {
    background-position: bottom;
    background-size: cover;
    height: 10px;
    /*background-attachment: fixed;*/
    position: relative;
    background-repeat: no-repeat;
}
.contDesc {
    padding-bottom: 90px;
}
.ubica {
    height: 120px;
    background-color: #29abe2;
}
.sedeNueva {
    position: absolute;
    bottom: 0;
    background-color: rgba(56, 56, 56, 0.78);
    left: 0;
    right: 0;
}
.contSede {
    width: 55%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.contDib {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}
.mapaSede {
    margin: 0;
}
.mapaSede img {
    height: 110px;
    margin: 25px 0;
}
.descSede {
    border-right: 1px white solid;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 100;
    line-height: 31px;
	margin-bottom:300px;
}
.descSede span {
    font-weight: 700;
}
.descSede2 {
    font-weight: 100;
    width: 40%;
}
h3.slideTitle {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 40px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.53);
}
h4.slideTitle2 {
    color: white;
    font-weight: 100;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.53);
    font-size: 28px;
    margin-bottom: 3px;
    margin-top: 4px;
}
h4.slideTitle2 span {
    font-weight: 400;
}
@media (max-width: 1199px) {
    .descSede2 {
        width: 38%;
    }
}
@media (max-width: 991px) {
    .contSede {
        width: 100%;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .contSede {
        flex-direction: column;
    }
    .contDib {
        width: 100%;
        justify-content: space-around;
        border-bottom: 1px white solid;
    }
    .descSede {
        border-right: 0;
    }
    .descSede2 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 100;
    }
    .slide {
        height: 300px;
        background-size: cover;
        background-attachment: initial;
        background-position: bottom;
    }
    h3.slideTitle {
        padding-top: 40px;
    }
}
/*CONTENIDO*/ 
.desc {
    padding-top: 5px;
	margin-bottom:200px;
}
h3.titles {
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	font-weight: 200;
	margin-top: 55px;
	margin-bottom: 18px;
}
p.textDesc {
    font-size: 17px;
    color: #fff;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 0;
}
p.textDesc span {
    font-style: italic;
}
ul.listDescInt {
    padding-top: 10px;
}
ul.listDescInt li {
    list-style-type: disc;
    font-size: 17px;
    margin-bottom: 9px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}
ul.listDesc li {
    list-style-type: disc;
    font-size: 17px;
    margin-bottom: 9px;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
}
h3.links {
    font-size: 30px;
    /* line-height: 48px; */
    color: #0071BC;
    font-weight: 200;
    margin-top: 55px;
    margin-bottom: 27px;
}
ul.listLinks {
    padding-left: 0;
}
ul.listLinks li {
    list-style: none;
    font-size: 17px;
    margin-bottom: 9px;
    color: #262626;
    font-weight: 300;
    line-height: 37px;
}
ul.listLinks li a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 7px;
    transition: all .3s ease;
}
ul.listLinks li a:hover {
    text-decoration: none;
    color: white;
    background-color: #0071BC;
    border: 1px #0071BC solid;
}
figcaption {
    font-size: 12px;
    word-break: break-word;
}
.cont {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.iconBen {
    width: 20%;
}
.iconBen figure {
    margin: 8px;
}
.iconBen img {
    max-width: 75px;
    border: 0;
}
@media (max-width: 991px) {
    ul.listDesc {
        margin-bottom: 70px;
    }
    .cont {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    ul.listDesc {
        margin-bottom: 50px;
    }
    .contFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    address {
        width: 100%;
    }
    .logoFooter img {
        margin-bottom: 40px;
        width: 100%;
    }
    .iconBen {
        width: 50%;
    }
    .cont {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}
/*FOTTER*/
footer {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: rgba(16, 5, 27, 0.63);
}
.contFooter {
    display: flex;
    justify-content: space-around;
}
.logoFooter {
    max-width: 250px;
}
.logoFooter img {
    width: 75%;
}
address {
    color: white;
    display: flex;
    font-weight: 200;
}
address i {
    color: white;
    padding: 14px;
    background-color: #f7931e;
    border-radius: 35px;
    height: 100%;
    margin-right: 17px;
}
address .textFooter h3 {
    color: #f7931e;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 20px;
}
address .textFooter ul {
    padding-left: 0;
}
address .textFooter ul li {
    list-style: none;
    font-size: 17px;
}





/*form*/
#formulario {
    background-color: rgba(239, 239, 239, 0.5);
    margin-top: -100px;
}
#formulario label{
    width: 100px;
    display: inline-block;
}
#formulario input, #formulario select, #formulario textarea{
	color:#343434;
    padding: 5px;
    border: none;
}
#formulario li {
    list-style: none;
}
#formulario ul {
    padding-left: 0;
    text-align: center;
}
#formulario input {
    margin: 6px 0;
    height: 40px;
    width: 90%;
}
#formulario select {
    background-color: white;
    margin: 5px;
    height: 40px;
    width: 90%;
    border-radius: 0;
    color: #515151;
    border: 1px #D5D5D5 solid;
}
#formulario textarea{
    margin: 5px 10px;
    height: 90px;
    width: 90%;
}
#formulario legend {
    text-align: center;
    border: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}
#formulario .comentario{
    position: relative;
    top: -80px;
}
#formulario fieldset {
    border: 0;
    margin: 0 2px;
    padding: 0;
}
#formulario input.botonForm {
    background-color: #f34656;
    color: white;
    font-size: 24px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
}
#formulario input.botonForm:hover {
    background-color: #de3b4a;
}
@media (max-width: 991px) {
    #formulario {
        margin-top: 30px;
    }
}
a.contApp {
    text-decoration: none;
    background-color: #F1F1F1;
    text-align: center;
    padding: 15px;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    color: #5F5F5F;
    align-items: center;
    flex-direction: column;
}
.contApp span {
}
.contApp span:last-child {
    display: flex;
    align-items: center;
    font-size: 15px;
}
a.contApp:hover {
    background-color: #EDEDED;
}
.contApp i.generico-whatsapp {
    font-size: 27px;
    padding-left: 7px;
    padding-right: 7px;
}
/*@media (max-width: 767px) {
    .cont {
        flex-direction: column;
    }
}*/

/* resultado form */
.msg-ok {
    text-align: center;
    color: black;
    padding: 10px 0 26px;
    font-size: 20px;
    font-weight: 100;
}

.msg-error {
    text-align: center;
    color: red;
    padding: 10px 0 26px;
    font-size: 20px;
    font-weight: 100;
}
/*FACEBOOK*/
.facebook {
    text-align: center;
    margin-top: 50px;
}
