@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic,900italic,900);
body {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
	height: 120px;
	background-image: url(../img/barnav.jpg);
}
.contMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contMenu h1.mainTitle {
    margin: 0;
}
.contMenu h1.mainTitle a {
	text-decoration: none;
	margin: 0;
	color: white;
	text-transform: uppercase;
	padding: 26px 25px;
	font-weight: 200;
	font-size: 30px;
	display: block;
}
.contMenu h1.mainTitle a span {
    font-weight: 600;
}
.logo {
    margin-left: 20px;
}
.logo img {
    max-height: 85px;
}
a.phone {
	padding: 10px 20px;
	transition: all .5s ease;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
	margin-left: 20px;
	color: #fff;
	
}
a.phone:hover {
	color: #FFFFFF;
	background: white;
}
a.phone i {
    padding-right: 10px;
}
.ventaja img {
}
@media (max-width: 767px) {
    .contMenu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contMenu h1.mainTitle {
        font-size: 1.7em;
    }
    .contMenu h1.mainTitle {
        width: 100%;
    }
    .menuFirst {
       text-align: center;
       padding-left: 0;
       padding-right: 0;
    }
    a.phone {
        margin-left: 0;
    }
    .logo {
        margin-left: 0;
    }
    .contMenu h1.mainTitle {
        order: 2;
    }
    .logo img {
        max-height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
.ventajas {
}
.ventajas img {
}
.ventajas {
}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #3BD6FF;
	width: 120px;
}
.container>.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    min-height: initial;
}
.navbar-default {
    background-color: #303030;
    /* border-color: #e7e7e7; */
    border: 0;
    margin-bottom: 0;
}
ul.menuSec {
	display: flex;
	padding-left: 0;
	justify-content: space-around;
	margin-bottom: 10px;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.menuSec li {
    list-style: none;
    width: 100%;
    text-align: center;
}
ul.menuSec li a {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    background-color: #303030;
    padding: 7px;
    display: block;
    transition: all .5s ease;
}
ul.menuSec li:first-child {
    border-right: 1px #4f4f4f solid;
}
ul.menuSec li:last-child {
    border-left: 1px #4f4f4f solid;
}
ul.menuSec li a:hover {
    background-color: orange;
}
.navbar-default .navbar-toggle {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.prosec {
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 100;
}
@media (min-width: 768px) {
    .prosec {
        display: none;
    }
}
/*SLIDE*/
@media (min-width: 992px) {
    .mapaSede {
        padding-right: 16px;
    }
}
.slide {
	background-image: url(../img/slide_postgrados.jpg);
	background-position: center;
	background-size: cover;
	height: 460px;
	/*background-attachment: fixed;*/
	position: relative;
	background-repeat: no-repeat;
}
.contDesc {
    padding-bottom: 90px;
}
.ubica {
    height: 120px;
    background-color: #29abe2;
}
.sedeNueva {
	position: absolute;
	bottom: 0;
	background-color: rgba(154,207,243,0.78);
	left: 0;
	right: 0;
}
.contSede {
    width: 55%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.contDib {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}
.mapaSede {
    margin: 0;
}
.mapaSede img {
    height: 110px;
    margin: 25px 0;
}
.descSede {
    border-right: 1px white solid;
    padding-right: 40px;
    font-size: 30px;
    font-weight: 100;
    line-height: 31px;
}
.descSede span {
    font-weight: 700;
}
.descSede2 {
    font-weight: 100;
    width: 40%;
}
h3.slideTitle {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 40px;
	font-size: 40px;
	margin-bottom: 0px;
}
h4.slideTitle2 {
	color: #ff9e0d;
	font-weight: 100;
	font-size: 18px;
	margin-bottom: 3px;
	margin-top: 4px;
}
h4.slideTitle2 span {
    font-weight: 400;
}
@media (max-width: 1199px) {
    .descSede2 {
        width: 38%;
    }
}
@media (max-width: 991px) {
    .contSede {
        width: 100%;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .contSede {
        flex-direction: column;
    }
    .contDib {
        width: 100%;
        justify-content: space-around;
        border-bottom: 1px white solid;
    }
    .descSede {
        border-right: 0;
    }
    .descSede2 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 100;
    }
    .slide {
        height: 500px;
        background-size: cover;
        background-attachment: initial;
        background-position: bottom;
    }
    h3.slideTitle {
        padding-top: 40px;
    }
}
/*CONTENIDO*/ 
.desc {
    padding-top: 5px;
}
h3.titles {
    font-size: 40px;
    line-height: 48px;
    color: #0071BC;
    font-weight: 200;
    margin-top: 55px;
    margin-bottom: 18px;
}
p.textDesc {
    font-size: 17px;
    color: #262626;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0;
}
p.textDesc span {
    font-style: italic;
}
ul.listDescInt {
    padding-top: 10px;
}
ul.listDescInt li {
    list-style-type: disc;
    font-size: 17px;
    margin-bottom: 9px;
    color: #262626;
    font-weight: 300;
    line-height: 24px;
}
ul.listDesc li {
    list-style-type: disc;
    font-size: 17px;
    margin-bottom: 9px;
    color: #262626;
    font-weight: 300;
    line-height: 24px;
}
h3.links {
    font-size: 30px;
    /* line-height: 48px; */
    color: #0071BC;
    font-weight: 200;
    margin-top: 55px;
    margin-bottom: 27px;
}
ul.listLinks {
    padding-left: 0;
}
ul.listLinks li {
    list-style: none;
    font-size: 17px;
    margin-bottom: 9px;
    color: #262626;
    font-weight: 300;
    line-height: 37px;
}
ul.listLinks li a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 7px;
    transition: all .3s ease;
}
ul.listLinks li a:hover {
    text-decoration: none;
    color: white;
    background-color: #0071BC;
    border: 1px #0071BC solid;
}
figcaption {
    font-size: 12px;
    word-break: break-word;
}
.cont {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.iconBen {
    width: 20%;
}
.iconBen figure {
    margin: 8px;
}
.iconBen img {
    max-width: 75px;
    border: 0;
}
@media (max-width: 991px) {
    ul.listDesc {
        margin-bottom: 70px;
    }
    .cont {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    ul.listDesc {
        margin-bottom: 50px;
    }
    .contFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    address {
        width: 100%;
    }
    .logoFooter img {
        margin-bottom: 40px;
        width: 75%;
    }
    .iconBen {
        width: 50%;
    }
    .cont {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}
/*FOTTER*/
footer {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #3a3a3a;
}
.contFooter {
    display: flex;
    justify-content: space-around;
}
.logoFooter {
    max-width: 250px;
}
.logoFooter img {
    width: 75%;
}
address {
    color: white;
    display: flex;
    font-weight: 200;
}
address i {
	color: white;
	padding: 14px;
	background-color: #53A7D0;
	border-radius: 35px;
	height: 100%;
	margin-right: 17px;
}
address .textFooter h3 {
    color: #53A7D0;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 20px;
}
address .textFooter ul {
    padding-left: 0;
}
address .textFooter ul li {
    list-style: none;
    font-size: 17px;
}





/*form*/
#formulario {
	background-color: #00457c;
	margin-top: -10px;
}
#formulario label{
    width: 100px;
    display: inline-block;
}
#formulario input, #formulario select, #formulario textarea{
    padding: 5px;
    border: none;
}
#formulario li {
    list-style: none;
}
#formulario ul {
    padding-left: 0;
    text-align: center;
}
#formulario input {
    margin: 6px 0;
    height: 40px;
    width: 90%;
}
#formulario select {
    background-color: white;
    margin: 5px;
    height: 40px;
    width: 90%;
    border-radius: 0;
    color: #515151;
    border: 1px #D5D5D5 solid;
}
#formulario textarea{
    margin: 5px 10px;
    height: 90px;
    width: 90%;
}
#formulario legend {
	text-align: center;
	border: 0;
	padding: 0;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #12122e;
}
#formulario .comentario{
    position: relative;
    top: -80px;
}
#formulario fieldset {
    border: 0;
    margin: 0 2px;
    padding: 0;
}
#formulario input.botonForm {
	background-color: #ff9e0d;
	color: white;
	font-size: 24px;
	height: 70px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
}
#formulario input.botonForm:hover {
    background-color: #de3b4a;
}
@media (max-width: 991px) {
    #formulario {
        margin-top: 30px;
    }
}
a.contApp {
    text-decoration: none;
    background-color: #F1F1F1;
    text-align: center;
    padding: 15px;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    color: #5F5F5F;
    align-items: center;
    flex-direction: column;
}
.contApp span {
}
.contApp span:last-child {
    display: flex;
    align-items: center;
    font-size: 15px;
}
a.contApp:hover {
    background-color: #EDEDED;
}
.contApp i.generico-whatsapp {
    font-size: 27px;
    padding-left: 7px;
    padding-right: 7px;
}
/*@media (max-width: 767px) {
    .cont {
        flex-direction: column;
    }
}*/

/* resultado form */
.msg-ok {
    text-align: center;
    color: black;
    padding: 10px 0 26px;
    font-size: 20px;
    font-weight: 100;
}

.msg-error {
    text-align: center;
    color: red;
    padding: 10px 0 26px;
    font-size: 20px;
    font-weight: 100;
}
/*FACEBOOK*/
.facebook {
    text-align: center;
    margin-top: 50px;
}
