@font-face {
	font-family: 'generico';
	src:url('../fonts/generico/generico.eot?czgjv4');
	src:url('../fonts/generico/generico.eot?czgjv4#iefix') format('embedded-opentype'),
		url('../fonts/generico/generico.ttf?czgjv4') format('truetype'),
		url('../fonts/generico/generico.woff?czgjv4') format('woff'),
		url('../fonts/generico/generico.svg?czgjv4#generico') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'generico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.generico-whatsapp:before {
	content: "\e800";
}
.generico-login:before {
	content: "\e801";
}
.generico-home:before {
	content: "\e900";
}
.generico-home2:before {
	content: "\e901";
}
.generico-home3:before {
	content: "\e902";
}
.generico-office:before {
	content: "\e903";
}
.generico-newspaper:before {
	content: "\e904";
}
.generico-pencil:before {
	content: "\e905";
}
.generico-pencil2:before {
	content: "\e802";
}
.generico-quill:before {
	content: "\e906";
}
.generico-pen:before {
	content: "\e907";
}
.generico-blog:before {
	content: "\e908";
}
.generico-eyedropper:before {
	content: "\e909";
}
.generico-droplet:before {
	content: "\e90a";
}
.generico-paint-format:before {
	content: "\e90b";
}
.generico-image:before {
	content: "\e803";
}
.generico-images:before {
	content: "\e804";
}
.generico-camera:before {
	content: "\e90c";
}
.generico-headphones:before {
	content: "\e90d";
}
.generico-music:before {
	content: "\e90e";
}
.generico-play:before {
	content: "\e90f";
}
.generico-film:before {
	content: "\e910";
}
.generico-video-camera:before {
	content: "\e911";
}
.generico-dice:before {
	content: "\e912";
}
.generico-pacman:before {
	content: "\e913";
}
.generico-spades:before {
	content: "\e914";
}
.generico-clubs:before {
	content: "\e915";
}
.generico-diamonds:before {
	content: "\e916";
}
.generico-bullhorn:before {
	content: "\e917";
}
.generico-connection:before {
	content: "\e918";
}
.generico-podcast:before {
	content: "\e919";
}
.generico-feed:before {
	content: "\e91a";
}
.generico-mic:before {
	content: "\e91b";
}
.generico-book:before {
	content: "\e91c";
}
.generico-books:before {
	content: "\e91d";
}
.generico-library:before {
	content: "\e91e";
}
.generico-file-text:before {
	content: "\e805";
}
.generico-profile:before {
	content: "\e91f";
}
.generico-file-empty:before {
	content: "\e920";
}
.generico-files-empty:before {
	content: "\e921";
}
.generico-file-text2:before {
	content: "\e922";
}
.generico-file-picture:before {
	content: "\e923";
}
.generico-file-music:before {
	content: "\e924";
}
.generico-file-play:before {
	content: "\e925";
}
.generico-file-video:before {
	content: "\e926";
}
.generico-file-zip:before {
	content: "\e927";
}
.generico-copy:before {
	content: "\e928";
}
.generico-paste:before {
	content: "\e929";
}
.generico-stack:before {
	content: "\e92a";
}
.generico-folder:before {
	content: "\e92b";
}
.generico-folder-open:before {
	content: "\e92c";
}
.generico-folder-plus:before {
	content: "\e92d";
}
.generico-folder-minus:before {
	content: "\e92e";
}
.generico-folder-download:before {
	content: "\e92f";
}
.generico-folder-upload:before {
	content: "\e930";
}
.generico-price-tag:before {
	content: "\e931";
}
.generico-price-tags:before {
	content: "\e932";
}
.generico-barcode:before {
	content: "\e933";
}
.generico-qrcode:before {
	content: "\e934";
}
.generico-ticket:before {
	content: "\e935";
}
.generico-cart:before {
	content: "\e806";
}
.generico-coin-dollar:before {
	content: "\e936";
}
.generico-coin-euro:before {
	content: "\e937";
}
.generico-coin-pound:before {
	content: "\e938";
}
.generico-coin-yen:before {
	content: "\e939";
}
.generico-credit-card:before {
	content: "\e93a";
}
.generico-calculator:before {
	content: "\e93b";
}
.generico-lifebuoy:before {
	content: "\e93c";
}
.generico-phone:before {
	content: "\e807";
}
.generico-phone-hang-up:before {
	content: "\e93d";
}
.generico-address-book:before {
	content: "\e808";
}
.generico-envelop:before {
	content: "\e809";
}
.generico-pushpin:before {
	content: "\e93e";
}
.generico-location:before {
	content: "\e80a";
}
.generico-location2:before {
	content: "\e93f";
}
.generico-compass:before {
	content: "\e940";
}
.generico-compass2:before {
	content: "\e941";
}
.generico-map:before {
	content: "\e942";
}
.generico-map2:before {
	content: "\e943";
}
.generico-history:before {
	content: "\e944";
}
.generico-clock:before {
	content: "\e945";
}
.generico-clock2:before {
	content: "\e946";
}
.generico-alarm:before {
	content: "\e947";
}
.generico-bell:before {
	content: "\e948";
}
.generico-stopwatch:before {
	content: "\e949";
}
.generico-calendar:before {
	content: "\e94a";
}
.generico-printer:before {
	content: "\e94b";
}
.generico-keyboard:before {
	content: "\e94c";
}
.generico-display:before {
	content: "\e94d";
}
.generico-laptop:before {
	content: "\e94e";
}
.generico-mobile:before {
	content: "\e80b";
}
.generico-mobile2:before {
	content: "\e94f";
}
.generico-tablet:before {
	content: "\e950";
}
.generico-tv:before {
	content: "\e951";
}
.generico-drawer:before {
	content: "\e952";
}
.generico-drawer2:before {
	content: "\e953";
}
.generico-box-add:before {
	content: "\e80c";
}
.generico-box-remove:before {
	content: "\e954";
}
.generico-download:before {
	content: "\e80d";
}
.generico-upload:before {
	content: "\e955";
}
.generico-floppy-disk:before {
	content: "\e956";
}
.generico-drive:before {
	content: "\e957";
}
.generico-database:before {
	content: "\e958";
}
.generico-undo:before {
	content: "\e959";
}
.generico-redo:before {
	content: "\e95a";
}
.generico-undo2:before {
	content: "\e95b";
}
.generico-redo2:before {
	content: "\e95c";
}
.generico-forward:before {
	content: "\e95d";
}
.generico-reply:before {
	content: "\e95e";
}
.generico-bubble:before {
	content: "\e95f";
}
.generico-bubbles:before {
	content: "\e960";
}
.generico-bubbles2:before {
	content: "\e961";
}
.generico-bubble2:before {
	content: "\e962";
}
.generico-bubbles3:before {
	content: "\e963";
}
.generico-bubbles4:before {
	content: "\e964";
}
.generico-user:before {
	content: "\e965";
}
.generico-users:before {
	content: "\e966";
}
.generico-user-plus:before {
	content: "\e967";
}
.generico-user-minus:before {
	content: "\e968";
}
.generico-user-check:before {
	content: "\e969";
}
.generico-user-tie:before {
	content: "\e96a";
}
.generico-quotes-left:before {
	content: "\e96b";
}
.generico-quotes-right:before {
	content: "\e96c";
}
.generico-hour-glass:before {
	content: "\e96d";
}
.generico-spinner:before {
	content: "\e96e";
}
.generico-spinner2:before {
	content: "\e96f";
}
.generico-spinner3:before {
	content: "\e970";
}
.generico-spinner4:before {
	content: "\e971";
}
.generico-spinner5:before {
	content: "\e972";
}
.generico-spinner6:before {
	content: "\e973";
}
.generico-spinner7:before {
	content: "\e974";
}
.generico-spinner8:before {
	content: "\e975";
}
.generico-spinner9:before {
	content: "\e976";
}
.generico-spinner10:before {
	content: "\e977";
}
.generico-spinner11:before {
	content: "\e978";
}
.generico-binoculars:before {
	content: "\e979";
}
.generico-search:before {
	content: "\e80e";
}
.generico-zoom-in:before {
	content: "\e80f";
}
.generico-zoom-out:before {
	content: "\e97a";
}
.generico-enlarge:before {
	content: "\e97b";
}
.generico-shrink:before {
	content: "\e97c";
}
.generico-enlarge2:before {
	content: "\e97d";
}
.generico-shrink2:before {
	content: "\e97e";
}
.generico-key:before {
	content: "\e97f";
}
.generico-key2:before {
	content: "\e980";
}
.generico-lock:before {
	content: "\e981";
}
.generico-unlocked:before {
	content: "\e982";
}
.generico-wrench:before {
	content: "\e983";
}
.generico-equalizer:before {
	content: "\e984";
}
.generico-equalizer2:before {
	content: "\e985";
}
.generico-cog:before {
	content: "\e986";
}
.generico-cogs:before {
	content: "\e987";
}
.generico-hammer:before {
	content: "\e988";
}
.generico-magic-wand:before {
	content: "\e989";
}
.generico-aid-kit:before {
	content: "\e98a";
}
.generico-bug:before {
	content: "\e98b";
}
.generico-pie-chart:before {
	content: "\e98c";
}
.generico-stats-dots:before {
	content: "\e98d";
}
.generico-stats-bars:before {
	content: "\e98e";
}
.generico-stats-bars2:before {
	content: "\e98f";
}
.generico-trophy:before {
	content: "\e990";
}
.generico-gift:before {
	content: "\e991";
}
.generico-glass:before {
	content: "\e992";
}
.generico-glass2:before {
	content: "\e993";
}
.generico-mug:before {
	content: "\e994";
}
.generico-spoon-knife:before {
	content: "\e995";
}
.generico-leaf:before {
	content: "\e996";
}
.generico-rocket:before {
	content: "\e997";
}
.generico-meter:before {
	content: "\e998";
}
.generico-meter2:before {
	content: "\e999";
}
.generico-hammer2:before {
	content: "\e99a";
}
.generico-fire:before {
	content: "\e99b";
}
.generico-lab:before {
	content: "\e99c";
}
.generico-magnet:before {
	content: "\e99d";
}
.generico-bin:before {
	content: "\e99e";
}
.generico-bin2:before {
	content: "\e99f";
}
.generico-briefcase:before {
	content: "\e9a0";
}
.generico-airplane:before {
	content: "\e9a1";
}
.generico-truck:before {
	content: "\e9a2";
}
.generico-road:before {
	content: "\e9a3";
}
.generico-accessibility:before {
	content: "\e9a4";
}
.generico-target:before {
	content: "\e9a5";
}
.generico-shield:before {
	content: "\e9a6";
}
.generico-power:before {
	content: "\e9a7";
}
.generico-switch:before {
	content: "\e9a8";
}
.generico-power-cord:before {
	content: "\e9a9";
}
.generico-clipboard:before {
	content: "\e810";
}
.generico-list-numbered:before {
	content: "\e9aa";
}
.generico-list:before {
	content: "\e9ab";
}
.generico-list2:before {
	content: "\e9ac";
}
.generico-tree:before {
	content: "\e9ad";
}
.generico-menu:before {
	content: "\e9ae";
}
.generico-menu2:before {
	content: "\e9af";
}
.generico-menu3:before {
	content: "\e9b0";
}
.generico-menu4:before {
	content: "\e9b1";
}
.generico-cloud:before {
	content: "\e9b2";
}
.generico-cloud-download:before {
	content: "\e9b3";
}
.generico-cloud-upload:before {
	content: "\e9b4";
}
.generico-cloud-check:before {
	content: "\e811";
}
.generico-download2:before {
	content: "\e9b5";
}
.generico-upload2:before {
	content: "\e9b6";
}
.generico-download3:before {
	content: "\e9b7";
}
.generico-upload3:before {
	content: "\e9b8";
}
.generico-sphere:before {
	content: "\e9b9";
}
.generico-earth:before {
	content: "\e9ba";
}
.generico-link:before {
	content: "\e9bb";
}
.generico-flag:before {
	content: "\e9bc";
}
.generico-attachment:before {
	content: "\e9bd";
}
.generico-eye:before {
	content: "\e9be";
}
.generico-eye-plus:before {
	content: "\e9bf";
}
.generico-eye-minus:before {
	content: "\e9c0";
}
.generico-eye-blocked:before {
	content: "\e9c1";
}
.generico-bookmark:before {
	content: "\e9c2";
}
.generico-bookmarks:before {
	content: "\e9c3";
}
.generico-sun:before {
	content: "\e9c4";
}
.generico-contrast:before {
	content: "\e9c5";
}
.generico-brightness-contrast:before {
	content: "\e9c6";
}
.generico-star-empty:before {
	content: "\e9c7";
}
.generico-star-half:before {
	content: "\e9c8";
}
.generico-star-full:before {
	content: "\e9c9";
}
.generico-heart:before {
	content: "\e9ca";
}
.generico-heart-broken:before {
	content: "\e9cb";
}
.generico-man:before {
	content: "\e9cc";
}
.generico-woman:before {
	content: "\e9cd";
}
.generico-man-woman:before {
	content: "\e9ce";
}
.generico-happy:before {
	content: "\e9cf";
}
.generico-happy2:before {
	content: "\e9d0";
}
.generico-smile:before {
	content: "\e9d1";
}
.generico-smile2:before {
	content: "\e9d2";
}
.generico-tongue:before {
	content: "\e9d3";
}
.generico-tongue2:before {
	content: "\e9d4";
}
.generico-sad:before {
	content: "\e9d5";
}
.generico-sad2:before {
	content: "\e9d6";
}
.generico-wink:before {
	content: "\e9d7";
}
.generico-wink2:before {
	content: "\e9d8";
}
.generico-grin:before {
	content: "\e9d9";
}
.generico-grin2:before {
	content: "\e9da";
}
.generico-cool:before {
	content: "\e9db";
}
.generico-cool2:before {
	content: "\e9dc";
}
.generico-angry:before {
	content: "\e9dd";
}
.generico-angry2:before {
	content: "\e9de";
}
.generico-evil:before {
	content: "\e9df";
}
.generico-evil2:before {
	content: "\e9e0";
}
.generico-shocked:before {
	content: "\e9e1";
}
.generico-shocked2:before {
	content: "\e9e2";
}
.generico-baffled:before {
	content: "\e9e3";
}
.generico-baffled2:before {
	content: "\e9e4";
}
.generico-confused:before {
	content: "\e9e5";
}
.generico-confused2:before {
	content: "\e9e6";
}
.generico-neutral:before {
	content: "\e9e7";
}
.generico-neutral2:before {
	content: "\e9e8";
}
.generico-hipster:before {
	content: "\e9e9";
}
.generico-hipster2:before {
	content: "\e9ea";
}
.generico-wondering:before {
	content: "\e9eb";
}
.generico-wondering2:before {
	content: "\e9ec";
}
.generico-sleepy:before {
	content: "\e9ed";
}
.generico-sleepy2:before {
	content: "\e9ee";
}
.generico-frustrated:before {
	content: "\e9ef";
}
.generico-frustrated2:before {
	content: "\e9f0";
}
.generico-crying:before {
	content: "\e9f1";
}
.generico-crying2:before {
	content: "\e9f2";
}
.generico-point-up:before {
	content: "\e9f3";
}
.generico-point-right:before {
	content: "\e9f4";
}
.generico-point-down:before {
	content: "\e9f5";
}
.generico-point-left:before {
	content: "\e9f6";
}
.generico-warning:before {
	content: "\e9f7";
}
.generico-notification:before {
	content: "\e9f8";
}
.generico-question:before {
	content: "\e9f9";
}
.generico-plus:before {
	content: "\e9fa";
}
.generico-minus:before {
	content: "\e9fb";
}
.generico-info:before {
	content: "\e9fc";
}
.generico-cancel-circle:before {
	content: "\e9fd";
}
.generico-blocked:before {
	content: "\e9fe";
}
.generico-cross:before {
	content: "\e9ff";
}
.generico-checkmark:before {
	content: "\ea00";
}
.generico-checkmark2:before {
	content: "\ea01";
}
.generico-spell-check:before {
	content: "\ea02";
}
.generico-enter:before {
	content: "\e812";
}
.generico-exit:before {
	content: "\ea03";
}
.generico-play2:before {
	content: "\ea04";
}
.generico-pause:before {
	content: "\ea05";
}
.generico-stop:before {
	content: "\ea06";
}
.generico-previous:before {
	content: "\ea07";
}
.generico-next:before {
	content: "\ea08";
}
.generico-backward:before {
	content: "\ea09";
}
.generico-forward2:before {
	content: "\ea0a";
}
.generico-play3:before {
	content: "\e813";
}
.generico-pause2:before {
	content: "\ea0b";
}
.generico-stop2:before {
	content: "\ea0c";
}
.generico-backward2:before {
	content: "\ea0d";
}
.generico-forward3:before {
	content: "\ea0e";
}
.generico-first:before {
	content: "\ea0f";
}
.generico-last:before {
	content: "\ea10";
}
.generico-previous2:before {
	content: "\ea11";
}
.generico-next2:before {
	content: "\ea12";
}
.generico-eject:before {
	content: "\ea13";
}
.generico-volume-high:before {
	content: "\ea14";
}
.generico-volume-medium:before {
	content: "\ea15";
}
.generico-volume-low:before {
	content: "\ea16";
}
.generico-volume-mute:before {
	content: "\ea17";
}
.generico-volume-mute2:before {
	content: "\ea18";
}
.generico-volume-increase:before {
	content: "\ea19";
}
.generico-volume-decrease:before {
	content: "\ea1a";
}
.generico-loop:before {
	content: "\ea1b";
}
.generico-loop2:before {
	content: "\ea1c";
}
.generico-infinite:before {
	content: "\ea1d";
}
.generico-shuffle:before {
	content: "\ea1e";
}
.generico-arrow-up-left:before {
	content: "\e814";
}
.generico-arrow-up:before {
	content: "\e815";
}
.generico-arrow-up-right:before {
	content: "\e816";
}
.generico-arrow-right:before {
	content: "\e817";
}
.generico-arrow-down-right:before {
	content: "\e818";
}
.generico-arrow-down:before {
	content: "\e819";
}
.generico-arrow-down-left:before {
	content: "\e81a";
}
.generico-arrow-left:before {
	content: "\e81b";
}
.generico-arrow-up-left2:before {
	content: "\e81c";
}
.generico-arrow-up2:before {
	content: "\e81d";
}
.generico-arrow-up-right2:before {
	content: "\e81e";
}
.generico-arrow-right2:before {
	content: "\e81f";
}
.generico-arrow-down-right2:before {
	content: "\e820";
}
.generico-arrow-down2:before {
	content: "\e821";
}
.generico-arrow-down-left2:before {
	content: "\e822";
}
.generico-arrow-left2:before {
	content: "\e823";
}
.generico-circle-up:before {
	content: "\e824";
}
.generico-circle-right:before {
	content: "\e825";
}
.generico-circle-down:before {
	content: "\ea1f";
}
.generico-circle-left:before {
	content: "\ea20";
}
.generico-tab:before {
	content: "\ea21";
}
.generico-move-up:before {
	content: "\ea22";
}
.generico-move-down:before {
	content: "\ea23";
}
.generico-sort-alpha-asc:before {
	content: "\ea24";
}
.generico-sort-alpha-desc:before {
	content: "\ea25";
}
.generico-sort-numeric-asc:before {
	content: "\ea26";
}
.generico-sort-numberic-desc:before {
	content: "\ea27";
}
.generico-sort-amount-asc:before {
	content: "\ea28";
}
.generico-sort-amount-desc:before {
	content: "\ea29";
}
.generico-command:before {
	content: "\ea2a";
}
.generico-shift:before {
	content: "\ea2b";
}
.generico-ctrl:before {
	content: "\ea2c";
}
.generico-opt:before {
	content: "\ea2d";
}
.generico-checkbox-checked:before {
	content: "\ea2e";
}
.generico-checkbox-unchecked:before {
	content: "\ea2f";
}
.generico-radio-checked:before {
	content: "\ea30";
}
.generico-radio-checked2:before {
	content: "\ea31";
}
.generico-radio-unchecked:before {
	content: "\ea32";
}
.generico-crop:before {
	content: "\ea33";
}
.generico-make-group:before {
	content: "\ea34";
}
.generico-ungroup:before {
	content: "\ea35";
}
.generico-scissors:before {
	content: "\ea36";
}
.generico-filter:before {
	content: "\ea37";
}
.generico-font:before {
	content: "\ea38";
}
.generico-ligature:before {
	content: "\ea39";
}
.generico-ligature2:before {
	content: "\ea3a";
}
.generico-text-height:before {
	content: "\ea3b";
}
.generico-text-width:before {
	content: "\ea3c";
}
.generico-font-size:before {
	content: "\ea3d";
}
.generico-bold:before {
	content: "\ea3e";
}
.generico-underline:before {
	content: "\ea3f";
}
.generico-italic:before {
	content: "\ea40";
}
.generico-strikethrough:before {
	content: "\ea41";
}
.generico-omega:before {
	content: "\ea42";
}
.generico-sigma:before {
	content: "\ea43";
}
.generico-page-break:before {
	content: "\ea44";
}
.generico-superscript:before {
	content: "\ea45";
}
.generico-subscript:before {
	content: "\ea46";
}
.generico-superscript2:before {
	content: "\ea47";
}
.generico-subscript2:before {
	content: "\ea48";
}
.generico-text-color:before {
	content: "\ea49";
}
.generico-pagebreak:before {
	content: "\ea4a";
}
.generico-clear-formatting:before {
	content: "\ea4b";
}
.generico-table:before {
	content: "\ea4c";
}
.generico-table2:before {
	content: "\ea4d";
}
.generico-insert-template:before {
	content: "\ea4e";
}
.generico-pilcrow:before {
	content: "\ea4f";
}
.generico-ltr:before {
	content: "\ea50";
}
.generico-rtl:before {
	content: "\ea51";
}
.generico-section:before {
	content: "\ea52";
}
.generico-paragraph-left:before {
	content: "\ea53";
}
.generico-paragraph-center:before {
	content: "\ea54";
}
.generico-paragraph-right:before {
	content: "\ea55";
}
.generico-paragraph-justify:before {
	content: "\ea56";
}
.generico-indent-increase:before {
	content: "\ea57";
}
.generico-indent-decrease:before {
	content: "\ea58";
}
.generico-share:before {
	content: "\ea59";
}
.generico-new-tab:before {
	content: "\ea5a";
}
.generico-embed:before {
	content: "\ea5b";
}
.generico-embed2:before {
	content: "\ea5c";
}
.generico-terminal:before {
	content: "\ea5d";
}
.generico-share2:before {
	content: "\e826";
}
.generico-mail:before {
	content: "\ea5e";
}
.generico-mail2:before {
	content: "\ea5f";
}
.generico-mail3:before {
	content: "\ea60";
}
.generico-mail4:before {
	content: "\ea61";
}
.generico-google:before {
	content: "\ea62";
}
.generico-google-plus:before {
	content: "\ea63";
}
.generico-google-plus2:before {
	content: "\ea64";
}
.generico-google-plus3:before {
	content: "\ea65";
}
.generico-google-drive:before {
	content: "\ea66";
}
.generico-facebook:before {
	content: "\ea67";
}
.generico-facebook2:before {
	content: "\e827";
}
.generico-facebook3:before {
	content: "\ea68";
}
.generico-ello:before {
	content: "\ea69";
}
.generico-instagram:before {
	content: "\ea6a";
}
.generico-twitter:before {
	content: "\ea6b";
}
.generico-twitter2:before {
	content: "\e828";
}
.generico-twitter3:before {
	content: "\ea6c";
}
.generico-feed2:before {
	content: "\ea6d";
}
.generico-feed3:before {
	content: "\ea6e";
}
.generico-feed4:before {
	content: "\ea6f";
}
.generico-youtube:before {
	content: "\ea70";
}
.generico-youtube2:before {
	content: "\ea71";
}
.generico-youtube3:before {
	content: "\ea72";
}
.generico-youtube4:before {
	content: "\ea73";
}
.generico-twitch:before {
	content: "\ea74";
}
.generico-vimeo:before {
	content: "\ea75";
}
.generico-vimeo2:before {
	content: "\ea76";
}
.generico-vimeo3:before {
	content: "\ea77";
}
.generico-lanyrd:before {
	content: "\ea78";
}
.generico-flickr:before {
	content: "\ea79";
}
.generico-flickr2:before {
	content: "\ea7a";
}
.generico-flickr3:before {
	content: "\ea7b";
}
.generico-flickr4:before {
	content: "\ea7c";
}
.generico-picassa:before {
	content: "\ea7d";
}
.generico-picassa2:before {
	content: "\ea7e";
}
.generico-dribbble:before {
	content: "\ea7f";
}
.generico-dribbble2:before {
	content: "\ea80";
}
.generico-dribbble3:before {
	content: "\ea81";
}
.generico-forrst:before {
	content: "\ea82";
}
.generico-forrst2:before {
	content: "\ea83";
}
.generico-deviantart:before {
	content: "\ea84";
}
.generico-deviantart2:before {
	content: "\ea85";
}
.generico-steam:before {
	content: "\ea86";
}
.generico-steam2:before {
	content: "\ea87";
}
.generico-dropbox:before {
	content: "\ea88";
}
.generico-onedrive:before {
	content: "\ea89";
}
.generico-github:before {
	content: "\ea8a";
}
.generico-github2:before {
	content: "\ea8b";
}
.generico-github3:before {
	content: "\ea8c";
}
.generico-github4:before {
	content: "\ea8d";
}
.generico-github5:before {
	content: "\ea8e";
}
.generico-wordpress:before {
	content: "\ea8f";
}
.generico-wordpress2:before {
	content: "\ea90";
}
.generico-joomla:before {
	content: "\ea91";
}
.generico-blogger:before {
	content: "\ea92";
}
.generico-blogger2:before {
	content: "\ea93";
}
.generico-tumblr:before {
	content: "\ea94";
}
.generico-tumblr2:before {
	content: "\ea95";
}
.generico-yahoo:before {
	content: "\ea96";
}
.generico-tux:before {
	content: "\ea97";
}
.generico-apple:before {
	content: "\ea98";
}
.generico-finder:before {
	content: "\ea99";
}
.generico-android:before {
	content: "\ea9a";
}
.generico-windows:before {
	content: "\ea9b";
}
.generico-windows8:before {
	content: "\ea9c";
}
.generico-soundcloud:before {
	content: "\ea9d";
}
.generico-soundcloud2:before {
	content: "\ea9e";
}
.generico-skype:before {
	content: "\ea9f";
}
.generico-reddit:before {
	content: "\eaa0";
}
.generico-linkedin:before {
	content: "\e829";
}
.generico-linkedin2:before {
	content: "\eaa1";
}
.generico-lastfm:before {
	content: "\eaa2";
}
.generico-lastfm2:before {
	content: "\eaa3";
}
.generico-delicious:before {
	content: "\eaa4";
}
.generico-stumbleupon:before {
	content: "\eaa5";
}
.generico-stumbleupon2:before {
	content: "\eaa6";
}
.generico-stackoverflow:before {
	content: "\eaa7";
}
.generico-pinterest:before {
	content: "\eaa8";
}
.generico-pinterest2:before {
	content: "\eaa9";
}
.generico-xing:before {
	content: "\eaaa";
}
.generico-xing2:before {
	content: "\eaab";
}
.generico-flattr:before {
	content: "\eaac";
}
.generico-foursquare:before {
	content: "\eaad";
}
.generico-paypal:before {
	content: "\eaae";
}
.generico-paypal2:before {
	content: "\eaaf";
}
.generico-paypal3:before {
	content: "\eab0";
}
.generico-yelp:before {
	content: "\eab1";
}
.generico-file-pdf:before {
	content: "\eab2";
}
.generico-file-openoffice:before {
	content: "\eab3";
}
.generico-file-word:before {
	content: "\eab4";
}
.generico-file-excel:before {
	content: "\eab5";
}
.generico-libreoffice:before {
	content: "\eab6";
}
.generico-html5:before {
	content: "\eab7";
}
.generico-html52:before {
	content: "\eab8";
}
.generico-css3:before {
	content: "\eab9";
}
.generico-git:before {
	content: "\eaba";
}
.generico-svg:before {
	content: "\eabb";
}
.generico-codepen:before {
	content: "\eabc";
}
.generico-chrome:before {
	content: "\eabd";
}
.generico-firefox:before {
	content: "\eabe";
}
.generico-IE:before {
	content: "\eabf";
}
.generico-opera:before {
	content: "\eac0";
}
.generico-safari:before {
	content: "\eac1";
}
.generico-IcoMoon:before {
	content: "\eac2";
}

